# Packages
*.egg
*.egg-info
doc/build
eggs
*.eggs

# input data
hypergas/resources

# Sphinx
doc/source/_build/*

# PyCharm Settings
.idea

# VSCode Settings
.vscode

# vi / vim swp files
*.swp
.DS_STORE


